@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  --white: #fff;
  --light: hsl(270, 3%, 87%);
  --dark: hsl(279, 6%, 55%);
  --darker: hsl(278, 68%, 11%);
  --red: hsl(0, 100%, 66%);
  /*for input errors*/
  --gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  /*active input border*/
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  letter-spacing: 0.05rem;
}

/* general styles */
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}

.flex--col {
  display: flex;
  flex-direction: column;
}

.flex--row {
  display: flex;
}

/*main contains everything inside root*/
.main {
  align-items: center;
}

/* for hero */
.hero {
  width: 100%;
  padding: 2rem 0 3rem;
  color: var(--white);
  letter-spacing: 0.1rem;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* for cards */
.cards--container {
  position: relative;
  justify-content: flex-end;
}

/* each card */
.card {
  position: relative;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back--card {
  margin-right: 0;
}

.front--card {
  position: absolute;
  top: 50%;
  left: 0;
}

/*card image*/
.card__img {
  width: 100%;
}

/* for numbers inside the cards */
.card__cvcNum {
  position: absolute;
  top: 45%;
  right: 10%;
  font-size: 0.75rem;
}

.card__details {
  position: absolute;
  top: 45%;
  justify-content: space-between;
  height: 40%;
}

.card__cardNumber {
  font-size: 1.25rem;
}

.card__cardName__expiryDate {
  font-size: 0.75rem;
}

/*up to 425px screens*/
@media (max-width: 425px) {
  .card__cardNumber {
    font-size: 1.1rem;
  }
}

/* up to 375px screens */
@media (max-width:375px) {
  .card__cardName__expiryDate {
    font-size: 0.75rem;
  }

  .card__cardNumber {
    font-size: 0.9rem;
  }
}


.card__cardName__expiryDate {
  width: 100%;
  justify-content: space-between;
}

.card__cardName {
  text-transform: uppercase;
}

/*for the form*/
.form--container {
  padding-top: 25vmin;
  padding-bottom: 2.5rem;
}

.formItem__label {
  text-transform: uppercase;
  font-weight: 500;
}

.formItem__input {
  margin: 0.25rem 0 0.5rem 0;
  font-family: inherit;
  letter-spacing: inherit;
  border-radius: 5px;
  border: 1px solid var(--light);
  padding: 1rem;
  /* outline: linear-gradient(hsl(249, 99%, 64%) to hsl(278, 94%, 30%)) solid 2px; */
}
.formItem__input:invalid{
  outline: 2px solid var(--red);
}

.btn {
  border-radius: 5px;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--darker);
  color: var(--white);
  font-family: inherit;
  font-weight: 500;
  letter-spacing: inherit;
  cursor: pointer;
}

/* for larger screens */
@media (min-width:600px) {
  :root {
    font-size: 18px;
  }
  .main{
    /* height: 100vh; */
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .hero {
    width:30%;
    background-image: url("./images/bg-main-desktop.png");
    height: 100vh;
    background-size: fill;
    display: flex;
    align-items: center;
  }
  .form--container{
    width: 60%;
    padding: 50px;
  }
}
